<h1> Todo List </h1>

<%= link_to "Create a New Todo Item", new_todo_path %>

<table>
  <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
        <th>Created At</th>
        <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
  
    <%- @todos.each do |todo| -%>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.description %></td>
        <td><%= todo.priorities %></td>
        <td><%= todo.created_at %></td>
        <td><%= todo.due_date %></td>
        <td> <%= link_to "edit", edit_todo_path(todo[:id]) %></td>
        <td><%= link_to "delete", todo, method: :delete, data: { confirm: "You sure?" }%></td>
      </tr>
    <%- end -%>
  </tbody>
</table>