<h1>Todo Show Page</h1>
<p>Title: <%= @todo['title']%></p>
<p>Description: <%= @todo['description']%></p>
<p>Created at: <%= @todo['created_at']%></p>
<p>Due Date: <%= @todo['due_date']%></p>


<%= link_to "Back To Todo List",todos_path%>